@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

body {
    background-color: black;
    font-family: 'Manrope', sans-serif;

}

.contend {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

h1 {
    color: rgba(238, 12, 12, 0.701);
    font-size: 4rem;
}

#changeButton {
    color: black;
    background-color: white;
    border-radius: 50px;
    border: 1px solid white;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 600;
}

.change:active {
    background-color: black;
    color: white;
}